body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #212121;
  line-height: 1.5;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, 'Open Sans', Ubuntu, Cantarell, sans-serif;
}

img {
  display: block;
  max-width: 200px;
  height: auto;
}

.searchFom {
  margin-top: 30px;
}

.classes .button {
  margin-top: 100px;
}
// ===========CardMovie===========
.cardMovie {
  display: flex;
  align-items: center;
  width: 800px;
}

.overview {
  font-size: 10px;
}

.btn {
  margin-top: 30px;
  margin-bottom: 10px;
}
